
body {
    font-family: 'Montserrat', sans-serif;
}

.wrp {
    height: 500px;
    max-width: 1040px;
    background-color: rgba(187, 187, 187, 0.374);
    margin: 0 auto;
    display: flex;
    border-radius: 25px;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px 0 60px;
}

.text-wrp {
    margin-left: 50px;
}

img {
    width: 300px;
    height: 300px;
    display: block;
}

h1 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 24px;
    line-height: 50px;
}

button {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(188, 144, 253);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(145, 71, 255);
}

button:focus, button:active {
    outline: none;
}